.socialMediaLinks {
    text-align: center;
}

/* .socialMediaLinks a { */
/*     display: inline; */
/*     grid-gap: 4px; */
/*     grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); */
/*     grid-template-rows: repeat(2, 4px); */
/*     padding: 10px 25px 2px 1px; */
/*     align-items: center; */
/* } */

.socialMediaLinks .ui.reddit.button {
    background: #FF5700;
    color: #ffffff;
}

.socialMediaLinks .ui.hacker.news.button {
    background: #ff4000;
    color: #ffffff;
}
