.socialMediaLinks {
    text-align: center;
}

.socialMediaLinks a {
    display: inline-grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: repeat(2, 4px);
    width: 80px;
    padding: 10px 25px 2px 1px;
    align-items: center;
}

.socialMediaLinks a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.1s ease;

}


.socialMediaLinks a.dsb-facebook-bg {
    background: #3b5998;
    color: #ffffff;
}

.socialMediaLinks a.dsb-twitter-bg {
    background: #00aced;
    color: #ffffff;
}

.socialMediaLinks a.dsb-linkedin-bg {
    background: #0077b5;
    color: #ffffff;
}

.socialMediaLinks a.dsb-reddit-bg {
    background: #FF5700;
    color: #ffffff;
}

.socialMediaLinks a.dsb-hacker-news-bg {
    background: #ff4000;
    color: #ffffff;
}
